@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<video width="640" height="480" autoplay controls="controls">
    <source src="/api/Media" type="video/mp4" >
    Your browser does not support the video tag.
</video>

<img style="width:300px;height:300px" src="/image">
